.profile {display: flex;
          flex-direction: column;
          margin: 50px;
          background-color: white;
          text-align: center;
          width: 300px;
          border-radius: 10px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}
.description {padding: 30px 20px 20px 20px;}
.description .avatar {width: 140px;
                      height:140px;
                      border-radius: 50%;}
.description .name {color: black;
       font-weight: 700;}
.description p {color: gray;}
.stats {display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        padding-inline-start : 0px;
        margin: 0; }
.stats li {display: flex;
           flex-direction: column;
           background-color: azure;
           width: 100px;
           padding-top: 20px;
           padding-bottom: 20px;
           border: 0.5px solid rgb(125, 173, 173, 0.5);}
.stats li:first-child {border-bottom-left-radius: 10px;}
.stats li:last-child {border-bottom-right-radius: 10px;}
.quantity {font-weight: 700;
           padding-top: 10px;}